/*----------------------------------FONTS------------------------------------*/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
/*----------------------------------GLOBAL------------------------------------*/

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fffaec;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.sectionHeading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal; 
    display: flex;
    margin-left: 20px;
    font-size: 50px; 
}

.sectionSubHeading {
    display: flex;
    float: right;
    text-align: right;
    font-size: 12px; 
    padding-top: 10px;
}

.headingDiv {
    min-width: 100%;
    max-height: 20%;
}

/*----------------------------------NAV AND FOOTER------------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
    padding-top: 5px;
}

.logo:hover {
    scale: 102%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 50px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff8fcf; /* Gold color */
}

.footer {
    background-color: rgb(16, 15, 13);
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section p, .footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .footer-section {
        padding: 10px 0;
    }
}



/*----------------------------------INDEX------------------------------------*/

#landingPageStyle {
    width: 100%;
}

#info {
    background-color: rgb(255, 177, 211);
}

#info p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*----------------------------------AUDIO AND VIDEO------------------------------------*/

.audioContainer {
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
}

.audioBlock {
    padding: 6px;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    margin-bottom: 100px;
    border-radius: 8px;
    background-color: #fffaec;
    border: 4px solid #fffaec;
    transition-duration: 0.3s;
    text-align: center;
}

.audioBlock img {
    border-radius: 2px;
}

.audioBlock:hover {
    scale: 102%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 170, 200);
    border: 4px solid rgb(255, 170, 200);
}

.albumContainer {
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
}

.albumBlock {
    padding: 6px;
    margin-left: 15px;
    margin-top: 30px;
    float: left;
    transition-duration: 0.3s;
    border-radius: 8px;
}

.albumBlock:hover {
    scale: 102%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 170, 200);;
}

.ytVideos {
    display:block;
    margin-bottom: 700px;
    margin-left: auto;
    margin-right: auto;
}

.videoBlock {
    padding: 6px;
    float: left;
    margin-left: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition-duration: 0.3s;
}

.videoBlock:hover {
    scale: 102%;
}

.videoBlock iframe {
    width: 310px; 
    height: 200px;
}

/*----------------------------------ANIMATIONS------------------------------------*/

.scaleUp {
    transition-duration: 0.2s;
}

.scaleUp:hover {
    scale: 102%;
}


/*-------------------------------Media Queries-------------------------*/


@media (max-width: 1400px) {

    .audioBlock {
        width: 250px;
    }

    .audioBlock img, iframe, h2 {
        width: 250px;
    }

}

@media (max-width: 1231px) {
    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .sectionHeading {
        font-size: 28px;
    }

    .ytVideos {
        display: block;
    }

    .videoBlock h2 {
        font-size: 18px;
    }

    .videoBlock {
        margin: 10px;
        float: left;
    }

    .videoBlock iframe {
        height: 140px;
        width: 240px;
    }

    .audioContainer {
        margin-bottom: 600px;
    }
}

@media (max-width: 768px) {
    .sectionHeading {
        font-size: 40px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .ytVideos {
        margin-bottom: 1000px;
    }

}

@media (max-width: 600px) {

    .nav-links a {
        font-size: 14px;
    }

    .sectionHeading {
        font-size: 30px;
    }

    #info p {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .audioContainer {
        margin-bottom: 1400px;
    }

    .albumContainer {
        margin-bottom: 2500px;
    }

    .ytVideos {
        margin-bottom: 50px;
    }

    .albumBlock{
        margin-left: auto;
        margin-right: auto;
        float: none;
        max-width: 35%;
    }

    .videoBlock, .audioBlock {        
        margin-left: auto;
        margin-right: auto;
        float: none;
        max-width: 55%;
        margin-bottom: 20px;
    }

    .videoBlock iframe {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 543px) {
    .ytVideos {
        margin-bottom: 50px;
    }

    .videoBlock iframe {
        width: 80vw;
        height: 20vh;
    }
}

@media (min-width: 1px) {
    .footer, .navbar, .headingDiv {
        width: 100%;
    }

    .footer-section {
        position:relative;
    }
}


/*

@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .sectionHeading {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .sectionHeading {
        font-size: 40px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .ytVideos {
        margin-bottom: 1400px;
    }

}

@media (max-width: 600px) {

    .nav-links a {
        font-size: 14px;
    }

    .sectionHeading {
        font-size: 30px;
    }

    #info p {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .audioContainer {
        margin-bottom: 1400px;
    }

    .albumContainer {
        margin-bottom: 2500px;
    }

    .ytVideos {
        margin-bottom: 1000px;
    }

    .albumBlock{
        margin-left: auto;
        margin-right: auto;
        float: none;
        max-width: 35%;
    }

    .videoBlock, .audioBlock {        
        margin-left: auto;
        margin-right: auto;
        float: none;
        max-width: 55%;
        margin-bottom: 20px;
    }

    .videoBlock iframe {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 400px) {
    .nav-links a {
        font-size: 12px;
    }

    .footer-bottom {
        font-size: 12px;
    }
}

@media (max-width: 688px) {

    .ytVideos {
        margin-bottom: 2400px;
    }

}

*/